a {
    text-decoration: none;
}

p,
div {
    font-family: Roboto;
}

body {
    background: url("../image/main-background.png") no-repeat center top #000;
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
}

.header {
    margin-top: 46px;
    margin-bottom: 17px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    float: left;
}

.logo-icon {
    float: left;
}

.logo-icon-svg {
    width: 53px;
    height: 54px;
}

.path-wrapper {
    fill: #fff;
}

.logo:hover .path-wrapper {
    fill: #F26522;
}

.logo-text {
    margin-left: 60px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 29px;
    margin-top: 5px;
}

.logo-holidays {
    font-size: 18px;
}

.logo:hover .logo-text {
    color: #F26522;
}

.contacts {
    float: right;
    text-align: right;
    margin-top: 7px
}

.text-decoration-email {
    color: #fff;
}

.text-decoration-email:hover {
    color: #f26522;
}

.text-decoration-tell {
    color: #fff;
}

.text-decoration-tell:hover {
    color: #f26522;
}

.gallery-item {
    position: relative;
    float: left;
    margin-right: 64px;
    margin-bottom: 30px;
}

.gallery-item:nth-child(3n) {
    margin-right: 0;
}

.gallery-image {
    display: block;
    border: 2px solid;
    height: 220px;
    border-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(255, 255, 66255)) 1;
    box-shadow: 0 17px 24px 0 rgba(0, 0, 0, 1);
}

.details {
    margin-left: 1px;
    display: none;
    position: absolute;
    background: #f26522;
    width: 301px;
    height: 60px;
    top: 165px;
    left: 0;
}

.gallery-item:hover .details {
    display: block;
}

.details-left {
    float: left;
    margin-left: 16px;
    margin-top: 8px;
    line-height: 20px;
}

.details-right {
    margin-top: 29px;
    float: right;
    font-size: 14px;
    color: #FFF;
}

.details-right::after {
    content: ">";
    color: #fff;
    margin-left: 16px;
    margin-right: 16px;
    opacity: .5;
}

.from-text {
    color: #fff;
    font-size: 10px;
}

.price-text {
    color: #fff;
    font-size: 20px;
}

.title {
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.gallery-item:hover .title {
    color: #f26522;
}

.footer {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}